In [ ]:
import pandas

# Загрузим данные в формате csv:

In [ ]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
# столбец PassengerId задает нумерацию строк этого датафрейма
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 1.Какое количество мужчин и женщин ехало на корабле?

In [ ]:
counter = data['Sex'].value_counts()
print(counter[0], counter[1])

577 314

# 2.Какой части пассажиров удалось выжить?

In [ ]:
# доля выживших людей в процентах округленное до двух знаков после запятой
count_survived = data['Survived'].value_counts()[1]
print(round(count_survived/data.shape[0]*100, 2))

38.38

# 3. Какую долю пассажиры первого класса составляли среди всех пассажиров?

In [ ]:
# доля пассажиров первого класса
count_1stclass = data['Pclass'].value_counts()[1]
print(round(count_1stclass/data.shape[0]*100, 2))

24.24

# 4. Какого возраста были пассажиры?

In [ ]:
# среднее и медиана возраста пассажиров
median_age = data['Age'].median()
mean_age = data['Age'].mean()
print(median_age, mean_age)

28.0 29.69911764705882

# 5. Коррелируют ли число братьев/сестер с числом родителей/детей?

In [ ]:
# красивая табличка с корреляциями
# import seaborn as sns
# sns.heatmap(data.corr(), annot = True, fmt='.1g')
# корреляция Пирсона между sibSp и Parch
print(data['SibSp'].corr(data['Parch']))

0.41483769862015557

# 6. Какое самое популярное женское имя на корабле?

In [ ]:
women

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
                             ...
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [ ]:
import re
# нужны женщины:
women = data.Name[data.Sex == 'female']

# после mrs у замужних женщин стоит имя мужа и имя женщины в скобках, разделим их:
def find_women_name(name):
  women_names = name.str.extract(r"Mrs\.\s+[^(]*\((\w+)", expand=False)          # то, что в скобках в регулярном выражении - оно и пойдет в вывод (здесь это те символы до пробела, которые после (  )
  women_names.loc[women_names.isna()] = name.str.extract(r'\.\s+(\w+)', expand = False)
  return women_names

find_women_name(women).value_counts()

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         7
             ..
Miriam        1
Helmina       1
Laura         1
Nora          1
Gerda         1
Name: Name, Length: 177, dtype: int64

Этот метод series.str.extract(pattern = '...') применяется к объекту типа Series